<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ keywords|join(', ') }}">
    <meta name="description" content="{{ description }}">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static('css/bootstrap.min.css') }}" />
</head>
<body>
    <!-- no header needed ;) -->

    <!-- start siderbar -->
    {% include 'siderbar.html' %}
    <!-- end siderbar -->

    <!-- start content -->
    <div id="content">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <!-- end content -->

    <!-- start footer -->
    <div id="footer">

    </div>
    <!-- end footer -->
</body>
</html>
